<!DOCTYPE html>
<html>
  <head>
   <title>Samantha Adalia's Portfolio/Dashboard (for SnowdenMindset)</title>
   <link rel="stylesheet" type="text/css" href="../public/dashboard.css"/>
   
   <script
			src="https://code.jquery.com/jquery-3.5.1.min.js"
			integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
			crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      
      <h2 style="background-color: #90251A; color: #F9EFCE">Samantha Adalia's Portfolio</h2>
    </header>
    <div>
      <h3>View my forms:</h3>
      <text><a href="/survey_books">Favorite Books Survey</a> (The first form I made to collect information on users' favorite books)</text><br>
      <text><a href="/survey_music">Your Music Hobby Survey</a> (A form project to collect information on fellow music-lovers' habits and preferences.)</text><br><br>
    </div>
    <div>
      <h3>View the admin page:</h3>
      <text><a href="/admin">Submission Results</a> (All of the users' form submissions on both forms can be found here.)</text><br><br>

    </div>
    <script src="index.js"></script>
  </body>
</html>